<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e.test.mapper.MemberMapper">
	<insert id="insertMember">
		insert into MEMBER values(#{memberId}, #{memberPwd}, #{memberName}, now())
	</insert>
	<select id="getMemberById">
		select * from MEMBER where id = #{memberId}
	</select>
	<delete id="deleteMember">
		delete from MEMBER where id = #{memberId}
	</delete>
</mapper>